html,
body,
div,
h2,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #fff;
  padding: 10px 6%;
  font-family: "Raleway", sans-serif;
}
header,
.container,
.navbar ul,
.about,
.portfolio,
.portfolio-items,
.contact {
  display: flex;
}
.container {
  flex-wrap: wrap;
  flex-direction: column;
}
/* header style*/
header {
  width: 100%;
  height: 55px;
  justify-content: space-between;
}
.header-logo img {
  padding-left: 20%;
  width: 50px;
  height: 50px;
}
.navbar ul {
  padding-right: 20px;
  justify-content: space-around;
}
.navbar ul li {
  display: inline-block;
  padding: 0 10px;
}
.navbar a {
  text-decoration: none;
  color: #000;
}

.about {
  height: 540px;
  justify-content: flex-start;
  align-items: center;
  font-size: 4em;
}
.about h2 {
  line-height: 1.1em;
}

.portfolio,
.contact {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio h2,
.contact h2 {
  font-size: 2em;
  padding-bottom: 6%;
}
.portfolio-items {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  box-shadow: 5px 5px 5px #ccc;
  width: 40%;
  text-align: center;
  margin-bottom: 3%;
  padding-top: 1%;
}
.item img {
  width: 94%;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form-wrapper,
textarea {
  box-sizing: border-box;
  width: 50%;
}
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-form-wrapper input {
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 40px 30px 0;
  padding: 10px 0;
  font-size: 1.2em;
}
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 0 30px 0;
  padding: 10px 0;
  font-size: 1.2em;
  font-family: Arial;
}
input:focus,
textarea:focus {
  outline: none;
}
.contact-form button {
  margin: 20px auto 0;
  border: 1px solid #000;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px 26px;
}

.contact-form button:hover {
  background: #000;
  color: #fff;
}

.footer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer a {
  color: #000;
  text-decoration: none;
  padding: 0 10px;
}

@media (max-width: 470px) {
  .about {
    height: 300px;
  }
  .about h2 {
    font-size: 0.6em;
  }
  .portfolio-items {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .item {
    width: 90%;
  }
  .contact-form {
    width: 100%;
    flex-direction: column;
  }
  .contact-form-wrapper,
  textarea {
    width: 100%;
  }
  .contact-form-wrapper input {
    margin: 0 0 30px 0;
  }
  .footer {
    flex-direction: column;
  }
  .footer p {
  	margin-top: 20px;
  }
}
